obj/
.vscode/
bin/
.vs/
obj\
obj/Debug/net6.0/ObjectByteConverter.assets.cache
obj/Debug/net6.0/ObjectByteConverter.GeneratedMSBuildEditorConfig.editorconfig
obj/ObjectByteConverter.csproj.nuget.dgspec.json
obj/ObjectByteConverter.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
